<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
      body{
        background-color: #fffccf;
      }
      .main-font{
        font-family: 'Roboto', sans-serif;
      }
      /* #login-form{
        padding: 100px;
      } */
    </style>
    <link rel="icon" type="image/png" href="https://img.icons8.com/fluent/96/000000/book.png">
    <title>  Book Lover: {% block title %}{% endblock %} </title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Book Lover</a>
        </div>
          {% if session.username %}
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}"> Search </a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"> Logout </a></li>
            </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}"> Login </a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}"> Register </a></li>
            </ul>
          {% endif %}
      </div>
    </nav>
    {% if get_flashed_messages() %}
      <div class="alert alert-success text-center" role="alert">
          {{ get_flashed_messages() | join(" ") }}
      </div>
    {% endif %}


    <main class="main-font">
      {% block content %}
      {% endblock %}
    </main>

    <!-- <div class="jumbotron text-center" style="margin-bottom:0">
      <p>Footer</p>
    </div> -->
    <footer class="page-footer font-small black pt-4">

    </footer>


  </body>
</html>
